.btn {
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  @media screen and (max-width: 767px) {
    bottom: 25px;
    right: 5px;
  }
  @media screen and (min-width: 768px) {
    bottom: 10px;
    right: 25px;
  }
}
.btnScroll {
  fill: var(--transparent-color);
  width: 40px;
  height: 100%;
  transition: fill 250ms var(--main-transition);
  &:hover,
  &:focus {
    fill: var(--primary-bg-color);
  }
}
