.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ul {
  display: flex;
  padding-top: 20px;
}
.li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70px;
  justify-content: space-between;
}
.li:not(:last-child) {
  margin-right: 40px;
}
.p {
  padding-top: 10px;
}
