.nav {
  padding: 15px;
  background-color: rgba(123, 74, 226, 0.2);
}
.ul {
  display: flex;
  justify-content: flex-end;
}
.a {
  text-decoration: none;
  color: var(--text-color);
}
.a:hover,
.a:focus {
  color: white;
}
.li:not(:last-child) {
  margin-right: 15px;
}
