.ul {
  @media screen and (max-width: 479px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

.svgNav {
  width: 24px;
  height: 24px;
  fill: var(--main-bg-color);
  stroke: var(--primary-bg-color);
  margin-right: 5px;
}
.a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding: 10px;
  color: var(--text-color);
}
.a:hover,
.a:focus {
  color: white;
}
.li:not(:last-child) {
  margin-right: 15px;
}
.a:hover .svgNav,
.a:focus .svgNav {
  fill: var(--primary-bg-color);
  stroke: var(--main-bg-color);
}
