.nav {
  padding: 15px;
  background-color: rgba(123, 74, 226, 0.2);
}
.ul {
  display: flex;
  justify-content: flex-end;
}
.a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding: 10px;
  color: var(--text-color);
}
.a:hover,
.a:focus {
  color: white;
}
.li:not(:last-child) {
  margin-right: 15px;
}
.a:hover .homeSVG {
  fill: var(--primary-bg-color);
  stroke: var(--main-bg-color);
}
.homeSVG {
  fill: var(--main-bg-color);
  stroke: var(--primary-bg-color);
  margin-right: 5px;
}
