.div {
  display: flex;
  padding: 40px 0 40px 0;
}
.left {
  width: 600px;
}
.right {
  width: 600px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 100%;
}
