.footer {
  padding: 15px 0 15px 0;
  text-align: center;
  background-color: rgba(123, 74, 226, 0.2);
}
.SVG {
  stroke: var(--transparent-color);
  fill: var(--main-bg-color);
  width: 48px;
  height: 48px;
  transition: fill 250ms var(--main-transition);
}
.h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.li {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.a {
  color: var(--text-color);
  transition: color 250ms var(--main-transition);
  &:hover,
  &:focus {
    color: white;
  }
  &:hover .SVG,
  &:focus .SVG {
    fill: var(--primary-bg-color);
  }
}
